html, body {
  font-family: "Montserrat", "Noto Kufi Arabic", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 12px;
  color: #0F0B0C;
  line-height: 1.5;
  overflow: unset !important;
}

* {
  box-sizing: border-box;
}

.menu-marker {
  position: static;
  z-index: -1;
  top: 10px;
  height: 5px;
  background-color: red;
  width: 100%;
}

.twa-checkout-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  align-self: flex-start;
  width: 100%;
  padding: 15px 0 0 70px;
  background-color: #FFF;
  border-bottom: 1px solid rgba(15, 11, 12, 0.1);
  display: flex;
  flex-wrap: wrap;
  z-index: 99;
}
.twa-checkout-header .left {
  width: 30%;
}
.twa-checkout-header .left .logo {
  position: relative;
  transition: 0.3s all;
  display: block;
}
.twa-checkout-header .left .logo .regular {
  position: relative;
  left: 0;
  z-index: 2;
  transition: 0.3s all;
}
.twa-checkout-header .left .logo .compact {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s all;
  opacity: 0;
}
.twa-checkout-header.compact .left .logo .regular {
  position: absolute;
  left: 0;
  opacity: 0;
  margin-top: -50px;
}
.twa-checkout-header.compact .left .logo .compact {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.twa-checkout-header .right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
  align-items: stretch;
}
.twa-checkout-header .right a {
  padding-left: 10px;
  text-decoration: none;
  color: #0F0B0C;
  transition: 0.3s;
  display: flex;
  align-items: center;
}
.twa-checkout-header .right a:hover {
  color: #AA9828 !important;
}
.twa-checkout-header .right a .icon {
  float: left;
  width: 30px;
  height: 30px;
  padding-right: 5px;
}
.twa-checkout-header .right a .icon:before {
  font-family: "Font Awesome 6 Pro";
  font-weight: 300;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
}
.twa-checkout-header .right a .text {
  height: 30px;
  line-height: 30px;
}
.twa-checkout-header .right a.support .icon::before {
  content: "\f059";
}
.twa-checkout-header .right a.profile .icon::before {
  content: "\f007";
}
.twa-checkout-header .right a.cart .icon::before {
  content: "\f07a";
}
.twa-checkout-header .right .right_section_placeholder {
  width: 540px;
}
.twa-checkout-header .right .right_section {
  position: absolute;
  background-color: #FAFAFA;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding-right: 70px;
  width: 500px;
  margin-top: -15px;
  height: calc(100% + 15px + 1px) !important;
  border-bottom: 64px solid #FAFAFA;
}
.twa-checkout-header .right .right_section a {
  transform: translateY(15px);
}
.twa-checkout-header .tabs {
  width: 100%;
}
.twa-checkout-header .tabs a {
  float: left;
  color: #0F0B0C;
  text-decoration: none;
  padding: 30px 0 15px 0;
  margin-right: 30px;
  border-bottom: 1px solid transparent;
  opacity: 0.5;
}
.twa-checkout-header .tabs a.selected {
  opacity: 1;
  border-bottom: 1px solid #0F0B0C;
}
@media (max-width: 1199px) {
  .twa-checkout-header {
    padding: 15px 40px 0 40px;
  }
  .twa-checkout-header .right a .text {
    display: none !important;
  }
  .twa-checkout-header .right .right_section, .twa-checkout-header .right .right_section_placeholder {
    display: none;
  }
}

.twa-checkout-container {
  display: flex;
  min-height: 100vh;
  position: relative;
  align-items: stretch;
}
.twa-checkout-container .twa-checkout-left {
  width: calc(100% - 500px);
  background-color: #FFF;
  padding: 70px 15px 15px 70px;
  float: left;
}
.twa-checkout-container .twa-checkout-left.ar {
  padding: 70px 70px 15px 15px;
}
.twa-checkout-container .twa-checkout-right {
  background-color: #FAFAFA;
  min-height: 100vh;
  width: 500px;
  padding: 70px 70px 15px 15px;
  position: relative;
}
.twa-checkout-container .twa-checkout-right .twa-checkout-right-breakdown-container {
  position: sticky;
  top: 160px;
  align-self: flex-start;
}
.twa-checkout-container .twa-checkout-right .twa-checkout-right-breakdown-container.loading::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  opacity: 0.8;
  background: #FAFAFA;
  background-image: linear-gradient(to right, #FAFAFA 0%, #ededed 20%, #FAFAFA 60%, #FAFAFA 100%);
  background-repeat: no-repeat;
  background-size: 800px 100%;
  display: inline-block;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}
@media (max-width: 1199px) {
  .twa-checkout-container {
    flex-wrap: wrap;
  }
  .twa-checkout-container .twa-checkout-left {
    width: 100%;
    padding: 70px 40px 15px 40px;
  }
  .twa-checkout-container .twa-checkout-right {
    width: 100%;
    padding: 70px 40px 15px 40px;
  }
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -650px 0;
  }
  100% {
    background-position: 650px 0;
  }
}
.twa-checkout-stacked-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.twa-checkout-stacked-title h1, .twa-checkout-stacked-title h2, .twa-checkout-stacked-title h3, .twa-checkout-stacked-title h4, .twa-checkout-stacked-title h5 {
  width: 60%;
  margin: 0 !important;
}
.twa-checkout-stacked-title a {
  align-self: flex-end;
  text-decoration: none;
  background-color: #0F0B0C;
  color: #FFF;
  padding: 15px 30px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: 0.15s all;
}
.twa-checkout-delivery-lot {
  margin-bottom: 40px;
}
.twa-checkout-delivery-lot.has-many {
  border: 1px solid #0F0B0C;
  padding: 30px;
}

h1 {
  font-family: "Imbue", "Noto Kufi Arabic", serif !important;
  font-size: 2.625rem;
  font-weight: 400;
  margin-top: 0;
}

h2 {
  font-family: "Imbue", "Noto Kufi Arabic", serif !important;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
}

.twa-checkout-breakdown-container {
  background-color: #FFF;
  margin-bottom: 10px;
  border: 1px solid rgba(15, 11, 12, 0.1);
  padding: 0;
}
.twa-checkout-breakdown-container table.items td {
  padding: 30px 10px;
  border-bottom: 1px solid rgba(15, 11, 12, 0.1);
}
.twa-checkout-breakdown-container table.items td:first-of-type {
  padding-left: 40px;
}
.twa-checkout-breakdown-container table.items td:last-of-type {
  padding-right: 40px;
}
.twa-checkout-breakdown-container table.items {
  margin-bottom: 20px;
}
.twa-checkout-breakdown-container table.items td:first-of-type {
  width: 110px;
  text-align: center;
}
.twa-checkout-breakdown-container table.items td:nth-of-type(2) {
  color: #666;
}
.twa-checkout-breakdown-container table.items td:nth-of-type(2) b {
  display: block;
  color: #0F0B0C;
  margin-bottom: 5px;
}
.twa-checkout-breakdown-container table.items td:nth-of-type(3) {
  white-space: nowrap;
  min-width: 40px;
  text-align: center;
}
.twa-checkout-breakdown-container table.breakdown td:first-of-type {
  padding: 2px 14px 2px 40px;
  text-align: left;
}
.twa-checkout-breakdown-container table.breakdown td:last-of-type {
  padding: 2px 40px 2px 14px;
  text-align: right;
}
.twa-checkout-breakdown-container table.breakdown tr:last-of-type td {
  font-weight: 700;
  border-top: 1px solid rgba(15, 11, 12, 0.1);
  padding-top: 15px;
  padding-bottom: 15px;
}
.twa-checkout-breakdown-container table.breakdown tr.sep td {
  height: 14px;
}

.twa-checkout-order-confirmation {
  display: block;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(15, 11, 12, 0.1);
}
.twa-checkout-order-confirmation:last-of-type {
  border-bottom: 0px;
}

.twa-cart-header-links {
  text-align: right;
  margin-bottom: 15px;
}
.twa-cart-header-links a {
  color: #0F0B0C;
  text-decoration: none;
}
.twa-cart-header-links a:hover {
  color: #AA9828;
}

.twa-cart-list-items {
  display: block;
  width: 100%;
}
.twa-cart-list-items.border {
  border: 1px solid #0F0B0C;
  margin-bottom: 40px;
}
.twa-cart-list-items .twa-cart-list-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom: 1px solid rgba(15, 11, 12, 0.1);
  padding: 0 30px;
}
.twa-cart-list-items .twa-cart-list-item .thumbnail {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  flex-shrink: 0;
}
.twa-cart-list-items .twa-cart-list-item .quantity {
  width: 150px;
  flex-shrink: 0;
  text-align: center;
}
.twa-cart-list-items .twa-cart-list-item .quantity .twa-cart-ecom-quantity {
  width: 100%;
}
.twa-cart-list-items .twa-cart-list-item .price {
  width: 150px;
  text-align: center;
  flex-shrink: 0;
  font-weight: 500;
}
.twa-cart-list-items .twa-cart-list-item .info {
  width: 100%;
  text-align: left;
  padding: 0 30px;
}
.twa-cart-list-items .twa-cart-list-item .info .label {
  text-decoration: none;
  font-size: 1.1rem;
  color: #0F0B0C;
  font-weight: 700;
}
.twa-cart-list-items .twa-cart-list-item .info .sublabel {
  color: rgba(15, 11, 12, 0.5);
  font-size: 0.8rem;
  margin-bottom: 5px;
}
.twa-cart-list-items .twa-cart-list-item .info .sublabel * {
  font-size: 0.8rem;
}
.twa-cart-list-items .twa-cart-list-item .info .unit-price {
  color: rgba(15, 11, 12, 0.5);
  margin-bottom: 5px;
}
.twa-cart-list-items .twa-cart-list-item .info .unit-price .strike {
  text-decoration: line-through;
}
.twa-cart-list-items .twa-cart-list-item .remove {
  text-align: center;
  width: 100px;
  flex-shrink: 0;
  text-decoration: none;
}
.twa-cart-list-items .twa-cart-list-item .remove .label {
  color: #AA9828;
  text-decoration: none;
  text-transform: uppercase;
}
.twa-cart-list-items .twa-cart-list-item .remove .icon {
  display: none;
}
@media (max-width: 640px) {
  .twa-cart-list-items .twa-cart-list-item {
    flex-wrap: wrap;
    padding: 0 0 15px 0;
  }
  .twa-cart-list-items .twa-cart-list-item .thumbnail {
    width: 100px;
    height: 100px;
  }
  .twa-cart-list-items .twa-cart-list-item .info {
    width: 250px;
    padding: 0 15px 15px 15px;
  }
  .twa-cart-list-items .twa-cart-list-item .quantity {
    padding-left: 115px;
    width: 220px;
  }
  .twa-cart-list-items .twa-cart-list-item .price {
    width: calc(100% - 270px);
  }
  .twa-cart-list-items .twa-cart-list-item .remove {
    width: 30px;
  }
  .twa-cart-list-items .twa-cart-list-item .remove .label {
    display: none;
  }
  .twa-cart-list-items .twa-cart-list-item .remove .icon {
    display: block;
  }
}
.twa-cart-list-items .twa-cart-list-item.invalid-item {
  border-bottom: 2px solid #D1171E;
}

.twa-cart-ecom-quantity {
  text-align: center;
  position: relative;
  display: inline-block;
  transition: 0.3s all;
  border: 1px solid #000;
}
.twa-cart-ecom-quantity.disabled a:nth-of-type(2) {
  display: none !important;
}
.twa-cart-ecom-quantity input {
  text-align: center;
  padding: 15px;
  border: 0;
  width: calc(100% - 60px);
  position: relative;
  z-index: 1;
}
.twa-cart-ecom-quantity .controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.twa-cart-ecom-quantity .controls a {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: inherit;
  width: 30px;
  text-align: center;
  text-decoration: none;
  transition: 0.3s all;
}
.twa-cart-ecom-quantity .controls a:hover {
  opacity: 0.6;
}

.twa-cart-breakdown {
  background-color: #FFF;
  border: 1px solid rgba(15, 11, 12, 0.1);
  padding: 30px;
}
.twa-cart-breakdown .twa-cart-breakdown-title {
  font-size: 1.35rem;
  font-weight: 700;
  margin-bottom: 15px;
}
.twa-cart-breakdown .twa-cart-breakdown-item-table {
  display: table;
  width: 100%;
}
.twa-cart-breakdown .twa-cart-breakdown-item-table .twa-cart-breakdown-item {
  display: table-row;
  width: 100%;
}
.twa-cart-breakdown .twa-cart-breakdown-item-table .twa-cart-breakdown-item .label {
  display: table-cell;
  font-size: 1.1rem;
  width: 50%;
  padding: 7.5px 7.5px 7.5px 0;
}
.twa-cart-breakdown .twa-cart-breakdown-item-table .twa-cart-breakdown-item .value {
  display: table-cell;
  font-size: 1.1rem;
  padding: 7.5px 0;
}
.twa-cart-breakdown .twa-cart-breakdown-item-table .twa-cart-breakdown-item.twa-cart-breakdown-item-total .label {
  padding-top: 22.5px;
  font-weight: 700;
}
.twa-cart-breakdown .twa-cart-breakdown-item-table .twa-cart-breakdown-item.twa-cart-breakdown-item-total .value {
  padding-top: 22.5px;
}

.twa-cart-vouchers-form {
  background-color: #FAFAFA;
  padding: 22.5px;
  position: relative;
}
.twa-cart-vouchers-form .twa-cart-vouchers-form-title {
  font-weight: 700;
  padding: 0;
}
.twa-cart-vouchers-form .twa-ecom-field {
  margin-top: -5px;
}
.twa-cart-vouchers-form .twa-cart-vouchers-form-apply {
  position: absolute;
  right: 30px;
  top: 60px;
  width: 100px !important;
}
.twa-cart-vouchers-form .twa-cart-vouchers-form-apply input, .twa-cart-vouchers-form .twa-cart-vouchers-form-apply .submit {
  height: 43px !important;
  line-height: 43px !important;
}
.twa-cart-vouchers-form .twa-cart-vouchers-form-field input {
  height: 61px !important;
  padding-left: 22.5px !important;
  padding-right: 122.5px !important;
}

input, select {
  font-family: "Montserrat", "Noto Kufi Arabic", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.hidden {
  display: none !important;
}

.twa-card {
  display: flex;
  border: 1px solid rgba(15, 11, 12, 0.1);
  padding: 40px;
  padding-left: 15px;
  margin-bottom: 20px;
  transition: 0.15s;
}
.twa-card.form {
  cursor: pointer;
}
.twa-card.form:hover {
  border: 1px solid rgba(15, 11, 12, 0.2);
}
.twa-card .left {
  text-align: center;
  padding: 0 15px;
}
.twa-card .left input {
  margin-top: 5px;
}
.twa-card .right {
  width: 100%;
  padding-left: 15px;
}
.twa-card .right h1, .twa-card .right h2, .twa-card .right h3, .twa-card .right h4, .twa-card .right h5 {
  margin: 0 0 7.5px 0;
  text-align: left;
}
.twa-card .right h3 {
  font-family: "Montserrat", "Noto Kufi Arabic", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 700;
}
.twa-card .right.full {
  width: calc(100% - 0px);
}
.twa-card.selected {
  border: 1px solid rgba(15, 11, 12, 0.6);
}
.twa-card.selected:hover {
  border: 1px solid rgba(15, 11, 12, 0.6);
}
.twa-card input[type=radio] {
  display: grid;
  place-content: center;
  border: 1px solid #0F0B0C;
  -webkit-appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.twa-card input[type=radio]:before {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 30px 0px #0F0B0C;
}
.twa-card input[type=radio]:checked::before {
  transform: scale(0.35);
}

.twa-form .twa-ecom-field button.outline, .twa-form .twa-ecom-field input[type=submit].outline, .twa-form .twa-ecom-field .submit.outline, .twa-form .twa-ecom-field button.red:hover, .twa-form .twa-ecom-field .submit.red:hover, .twa-form .twa-ecom-field button:hover, .twa-form .twa-ecom-field input[type=submit]:hover, .twa-form .twa-ecom-field .submit:hover, .twa-checkout-stacked-title a:hover {
  background-color: transparent;
  color: #0F0B0C;
  position: relative;
  border: 1px solid #0F0B0C;
}

.twa-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.twa-form .twa-ecom-field {
  display: block;
  width: 100%;
}
.twa-form .twa-ecom-field.half {
  width: calc(50% - 7.5px);
}
.twa-form .twa-ecom-field.third {
  width: calc(33.3333333333% - 15px);
}
.twa-form .twa-ecom-field.quarter {
  width: calc(25% - 7.5px);
}
@media (max-width: 639px) {
  .twa-form .twa-ecom-field.hide-label-sm .twa-ecom-label {
    display: none !important;
  }
  .twa-form .twa-ecom-field.half, .twa-form .twa-ecom-field.third, .twa-form .twa-ecom-field.quarter {
    width: 100% !important;
  }
}
.twa-form .twa-ecom-field .iti, .twa-form .twa-ecom-field input, .twa-form .twa-ecom-field select, .twa-form .twa-ecom-field textarea {
  width: 100%;
}
.twa-form .twa-ecom-field select {
  -webkit-appearance: none;
}
.twa-form .twa-ecom-field input, .twa-form .twa-ecom-field select, .twa-form .twa-ecom-field textarea {
  height: 40px;
  padding: 0 10px;
  border: 1px solid rgba(15, 11, 12, 0.1);
  -webkit-tap-highlight-color: transparent;
  transition: 0.15s;
}
.twa-form .twa-ecom-field input:focus, .twa-form .twa-ecom-field select:focus, .twa-form .twa-ecom-field textarea:focus {
  outline-width: 0;
  border: 1px solid #0f0b0c;
}
.twa-form .twa-ecom-field input.phone-field, .twa-form .twa-ecom-field select.phone-field, .twa-form .twa-ecom-field textarea.phone-field {
  padding-left: 50px;
}
.twa-form .twa-ecom-field textarea {
  height: auto !important;
  padding: 10px;
}
.twa-form .twa-ecom-field button, .twa-form .twa-ecom-field input[type=submit], .twa-form .twa-ecom-field .submit {
  background-color: #0F0B0C;
  color: #FFF;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  transition: 0.15s all;
  cursor: pointer;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 0px;
}
.twa-form .twa-ecom-field button.red, .twa-form .twa-ecom-field input[type=submit].red, .twa-form .twa-ecom-field .submit.red {
  background-color: #D1171E;
}
.twa-form .twa-ecom-field button.red:hover, .twa-form .twa-ecom-field input[type=submit].red:hover, .twa-form .twa-ecom-field .submit.red:hover {
  color: #0F0B0C;
}
.twa-form .twa-ecom-field button.inline, .twa-form .twa-ecom-field input[type=submit].inline, .twa-form .twa-ecom-field .submit.inline {
  height: 40px;
  line-height: 40px;
}
.twa-form .twa-ecom-field button.outline, .twa-form .twa-ecom-field input[type=submit].outline, .twa-form .twa-ecom-field .submit.outline {
  color: #0F0B0C;
}
.twa-form .twa-ecom-field button.outline:hover, .twa-form .twa-ecom-field input[type=submit].outline:hover, .twa-form .twa-ecom-field .submit.outline:hover {
  background-color: #0F0B0C;
  color: #FFF;
}
.twa-form .twa-ecom-field button:disabled, .twa-form .twa-ecom-field button.disabled, .twa-form .twa-ecom-field input[type=submit]:disabled, .twa-form .twa-ecom-field input[type=submit].disabled, .twa-form .twa-ecom-field .submit:disabled, .twa-form .twa-ecom-field .submit.disabled {
  opacity: 0.4;
  cursor: unset;
}
.twa-form .twa-ecom-field button:disabled:hover, .twa-form .twa-ecom-field button.disabled:hover, .twa-form .twa-ecom-field input[type=submit]:disabled:hover, .twa-form .twa-ecom-field input[type=submit].disabled:hover, .twa-form .twa-ecom-field .submit:disabled:hover, .twa-form .twa-ecom-field .submit.disabled:hover {
  background-color: #0F0B0C;
  color: #FFF;
}
.twa-form .twa-ecom-field select {
  background-image: url(data:image/svg+xml;charset=UTF-8;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAyNCAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwb2x5Z29uIGZpbGw9IiMwRjBCMEMiIHBvaW50cz0iMTIgMSA5IDYgMTUgNiIgLz4KICAgIDxwb2x5Z29uIGZpbGw9IiMwRjBCMEMiIHBvaW50cz0iMTIgMTMgOSA4IDE1IDgiIC8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.twa-form .twa-ecom-field .twa-ecom-label {
  display: block;
  font-weight: 700;
  padding-bottom: 5px;
}
.twa-form .twa-ecom-checkbox {
  display: block;
}
.twa-form .twa-ecom-checkbox input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  color: #FFF;
  width: 5px;
  height: 22px;
  border: 1px solid #0F0B0C;
  border-radius: 2px;
  display: grid;
  place-content: center;
  transform: translateY(2px) scale(0.7);
}
.twa-form .twa-ecom-checkbox input[type=checkbox]:before {
  content: "";
  width: 15px;
  height: 15px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #0F0B0C;
  background-color: CanvasText;
}
.twa-form .twa-ecom-checkbox input[type=checkbox]:checked {
  background-color: transparent !important;
}
.twa-form .twa-ecom-checkbox input[type=checkbox]:checked::before {
  transform: scale(1);
}
.twa-form .twa-ecom-checkbox .twa-ecom-field-control {
  display: inline-block;
}
.twa-form h3 {
  font-weight: 700;
  font-size: 1.1rem;
}

.twa-ecom-alert {
  padding: 20px;
  background-color: rgba(209, 23, 30, 0.05);
  color: #D1171E;
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
}

form.disabled {
  position: relative;
}
form.disabled:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.text.red {
  color: #D1171E;
}

.iti--allow-dropdown .iti__country-list {
  box-shadow: none;
  top: 39px;
  left: 0;
  border: 1px solid rgba(15, 11, 12, 0.1);
}
.iti--allow-dropdown .iti__flag-container {
  left: 0 !important;
  right: auto;
}
.iti--allow-dropdown .iti__arrow {
  margin-left: 6px !important;
}
.iti--allow-dropdown .phone-field {
  padding-left: 60px !important;
  padding-right: 10px !important;
}
.iti--allow-dropdown .iti__country {
  text-align: left;
  display: flex;
}
.iti--allow-dropdown .iti__country:hover {
  background-color: rgba(15, 11, 12, 0.07);
}
.iti--allow-dropdown .iti__dial-code {
  padding-left: 10px;
  direction: ltr;
}
.iti--allow-dropdown .iti__flag-box {
  display: flex;
  align-items: center;
}

form.disabled.margin-adjuster {
  margin-top: -190px;
}
@media (max-width: 639px) {
  form.disabled.margin-adjuster {
    margin-top: 0;
  }
}

.twa-authentication-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.twa-authentication-container .twa-authentication-form {
  width: 40%;
  height: fit-content;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

.twa-card {
  width: 100%;
}

/*.code-input-group .code-input {*/
/*  width: 50px;*/
/*  height: 50px;*/
/*  margin: 1%;*/
/*}*/
a {
  text-decoration: none;
  color: inherit;
}

.icon-button {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 20px;
}
.icon-button .icon {
  flex: 0 1 0%;
}
.icon-button .text {
  text-align: center;
  flex: 1 1 0;
}

.invalid-field {
  display: block;
  min-height: 20px;
  margin: 5px 0;
  color: #ff0000;
}

.phone-invalid:after {
  content: "\f00d";
  font-family: "Font Awesome 5 Pro" !important;
  font-weight: 600;
  color: #d1171e;
  position: absolute;
  right: 10px !important;
  left: auto !important;
  top: 0;
  bottom: 0px;
  height: 20px;
  line-height: 20px;
  margin: auto;
}

.phone-valid:after {
  content: "\f00c";
  font-family: "Font Awesome 5 Pro" !important;
  font-weight: 600;
  color: #0f0b0c;
  position: absolute;
  right: 10px !important;
  left: auto !important;
  top: 0;
  bottom: 0px;
  height: 20px;
  line-height: 20px;
  margin: auto;
}

.twa-login {
  gap: 0 !important;
}

.radio-group {
  display: block;
  width: 100%;
}
.radio-group .radio-content {
  /*margin-top: 15px;*/
  padding: 15px 24px;
}
.radio-group .radio-content.hide {
  display: none !important;
}

.auth-link {
  text-decoration: underline;
  color: #000;
  font-weight: 400;
}

.seperator-line {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  font-weight: bold;
}
.seperator-line:before {
  content: "";
  border-bottom: 1px solid rgba(15, 11, 12, 0.1);
  flex: 1;
}
.seperator-line:after {
  content: "";
  border-bottom: 1px solid rgba(15, 11, 12, 0.1);
  flex: 1;
}

.input-group {
  font-size: 14px;
  line-height: 1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 10px;
  padding: 10px 0;
  cursor: pointer;
}
.input-group input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  color: #000;
  /*width: 1.15em;*/
  /*height: 1.15em;*/
  width: 14px;
  height: 14px;
  border: 1px solid #000;
  border-radius: 50%;
  display: grid;
  place-content: center;
}
.input-group input[type=radio]::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #000000;
  background-color: CanvasText;
}
.input-group input[type=radio]:checked::before {
  transform: scale(1);
}

.other-auth-methods {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 15px;
}

.bullet {
  min-height: 5px;
  min-width: 5px;
  background-color: #000;
  border-radius: 50%;
}

.entered-email {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.password-group {
  position: relative;
}
.password-group button {
  position: absolute;
  padding: 0 15px;
  right: 0;
  height: 100%;
  background-color: transparent;
  border: 0;
  outline: none;
  text-decoration: underline;
  font-size: 14px;
  cursor: pointer;
}
.password-group input {
  padding-right: 80px !important;
}

.sep-30 {
  min-height: 30px;
  width: 100%;
}

.sep-15 {
  min-height: 15px;
  width: 100%;
}

.code-input-group {
  display: flex;
  margin: 15px 0;
  gap: 10px;
}

.code-input {
  background-color: rgba(15, 11, 12, 0.07) !important;
  border: 1px solid rgba(15, 11, 12, 0) !important;
  border-bottom: 1px solid rgba(15, 11, 12, 0.5) !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  width: 45px !important;
  height: 45px !important;
  text-align: center !important;
  font-size: 1.25rem !important;
  transition: 0.3s all;
}
.code-input:focus {
  transform: scale(1.1);
}

/*# sourceMappingURL=packages1.css.map */
.common-loader-hide {
  animation: hideit 0.5s normal forwards ease-in-out !important;
  animation-delay: 0.3s !important;
}

.common-loader-initial {
  animation: fade-in 0.5s normal forwards ease-in-out;
  animation-delay: 0s;
}

@keyframes hideit {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    display: none !important;
    height: 100vh;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
.iframe-parent {
  display: block;
  position: relative;
}
.iframe-parent iframe {
  position: relative;
  z-index: 1;
}
.iframe-parent .loader {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  transition: 0.2s all;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/assets/loader.gif");
}
.iframe-parent .loader.active {
  z-index: 2 !important;
  opacity: 1 !important;
}

/*# sourceMappingURL=packages-en.css.map */
