html, body {
  font-family: "Montserrat", "Noto Kufi Arabic", sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 12px;
  color: #0F0B0C;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.menu-marker {
  position: static;
  z-index: -1;
  top: 10px;
  height: 5px;
  background-color: red;
  width: 100%;
  z-index: 99999;
}

.twa-checkout-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  align-self: flex-start;
  width: 100%;
  padding: 15px 70px 0 70px;
  background-color: #FFF;
  border-bottom: 1px solid rgba(15, 11, 12, 0.1);
  display: flex;
  flex-wrap: wrap;
  z-index: 99;
}
.twa-checkout-header .left {
  width: 30%;
}
.twa-checkout-header .left .logo {
  position: relative;
  transition: 0.3s all;
  display: block;
}
.twa-checkout-header .left .logo .regular {
  position: relative;
  left: 0;
  z-index: 2;
  transition: 0.3s all;
}
.twa-checkout-header .left .logo .compact {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.3s all;
  opacity: 0;
}
.twa-checkout-header.compact .left .logo .regular {
  position: absolute;
  left: 0;
  opacity: 0;
  margin-top: -50px;
}
.twa-checkout-header.compact .left .logo .compact {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.twa-checkout-header .right {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
}
.twa-checkout-header .right a {
  padding-left: 10px;
  text-decoration: none;
  color: #0F0B0C;
  transition: 0.3s;
}
.twa-checkout-header .right a:hover {
  color: #AA9828 !important;
}
.twa-checkout-header .right a .icon {
  float: left;
  width: 30px;
  height: 30px;
  padding-right: 5px;
}
.twa-checkout-header .right a .icon:before {
  font-family: "Font Awesome 6 Pro";
  font-weight: 300;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
}
.twa-checkout-header .right a .text {
  height: 30px;
  line-height: 30px;
}
.twa-checkout-header .right a.support .icon::before {
  content: "\f059";
}
.twa-checkout-header .right a.profile .icon::before {
  content: "\f007";
}
.twa-checkout-header .right a.cart .icon::before {
  content: "\f07a";
}
.twa-checkout-header .tabs {
  width: 100%;
}
.twa-checkout-header .tabs a {
  float: left;
  color: #0F0B0C;
  text-decoration: none;
  padding: 30px 0 15px 0;
  margin-right: 30px;
  border-bottom: 1px solid transparent;
  opacity: 0.5;
}
.twa-checkout-header .tabs a.selected {
  opacity: 1;
  border-bottom: 1px solid #0F0B0C;
}
@media (max-width: 1199px) {
  .twa-checkout-header {
    padding: 15px 40px 0 40px;
  }
  .twa-checkout-header .right a .text {
    display: none !important;
  }
}

.twa-checkout-container {
  display: flex;
  min-height: 100vh;
  position: relative;
  align-items: stretch;
}
.twa-checkout-container .twa-checkout-left {
  width: calc(100% - 500px);
  background-color: #FFF;
  padding: 70px 15px 15px 70px;
  float: left;
}
.twa-checkout-container .twa-checkout-right {
  background-color: #FAFAFA;
  min-height: 100vh;
  width: 500px;
  padding: 70px 70px 15px 15px;
  position: relative;
}
.twa-checkout-container .twa-checkout-right .twa-checkout-right-breakdown-container {
  position: sticky;
  top: 160px;
  align-self: flex-start;
}
.twa-checkout-container .twa-checkout-right .twa-checkout-right-breakdown-container.loading::before {
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  opacity: 0.8;
  background: #FAFAFA;
  background-image: linear-gradient(to right, #FAFAFA 0%, #ededed 20%, #FAFAFA 60%, #FAFAFA 100%);
  background-repeat: no-repeat;
  background-size: 800px 100%;
  display: inline-block;
  -webkit-animation-duration: 1.3s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
}
@media (max-width: 1199px) {
  .twa-checkout-container {
    flex-wrap: wrap;
  }
  .twa-checkout-container .twa-checkout-left {
    width: 100%;
    padding: 70px 40px 15px 40px;
  }
  .twa-checkout-container .twa-checkout-right {
    width: 100%;
    padding: 70px 40px 15px 40px;
  }
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -650px 0;
  }
  100% {
    background-position: 650px 0;
  }
}
.twa-checkout-stacked-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.twa-checkout-stacked-title h1, .twa-checkout-stacked-title h2, .twa-checkout-stacked-title h3, .twa-checkout-stacked-title h4, .twa-checkout-stacked-title h5 {
  width: 60%;
  margin: 0 !important;
}
.twa-checkout-stacked-title a {
  align-self: flex-end;
  text-decoration: none;
  background-color: #0F0B0C;
  color: #FFF;
  padding: 15px 30px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: 0.15s all;
}
.twa-checkout-delivery-lot {
  margin-bottom: 40px;
}
.twa-checkout-delivery-lot.has-many {
  border: 1px solid #0F0B0C;
  padding: 30px;
}

h1 {
  font-family: "Imbue", "Noto Kufi Arabic", serif;
  font-size: 2.625rem;
  font-weight: 400;
  margin-top: 0;
}

h2 {
  font-family: "Imbue", "Noto Kufi Arabic", serif;
  font-size: 2rem;
  font-weight: 400;
  margin-top: 0;
}

.twa-checkout-breakdown-container {
  background-color: #FFF;
  margin-bottom: 10px;
  border: 1px solid rgba(15, 11, 12, 0.1);
  padding: 15px;
}
.twa-checkout-breakdown-container table.items td {
  padding: 10px;
  border-bottom: 1px solid rgba(15, 11, 12, 0.1);
}
.twa-checkout-breakdown-container table.items {
  margin-bottom: 20px;
}
.twa-checkout-breakdown-container table.items td:first-of-type {
  width: 80px;
  text-align: center;
}
.twa-checkout-breakdown-container table.items td:nth-of-type(2) {
  color: #666;
}
.twa-checkout-breakdown-container table.items td:nth-of-type(2) b {
  display: block;
  color: #0F0B0C;
  margin-bottom: 5px;
}
.twa-checkout-breakdown-container table.items td:nth-of-type(3) {
  white-space: nowrap;
  min-width: 40px;
  text-align: center;
}
.twa-checkout-breakdown-container table.breakdown td {
  padding: 2px 10px;
}
.twa-checkout-breakdown-container table.breakdown tr:last-of-type td {
  font-weight: 700;
  border-top: 1px solid rgba(15, 11, 12, 0.1);
  padding-top: 10px;
}
.twa-checkout-breakdown-container table.breakdown tr.sep td {
  height: 10px;
}

.twa-checkout-order-confirmation {
  display: block;
  padding-bottom: 30px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(15, 11, 12, 0.1);
}
.twa-checkout-order-confirmation:last-of-type {
  border-bottom: 0px;
}

.hidden {
  display: none !important;
}

.twa-card {
  display: flex;
  border: 1px solid rgba(15, 11, 12, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  transition: 0.15s;
}
.twa-card.form {
  cursor: pointer;
}
.twa-card.form:hover {
  border: 1px solid rgba(15, 11, 12, 0.2);
}
.twa-card .left {
  width: 30px;
  text-align: center;
}
.twa-card .right {
  width: calc(100% - 30px);
  padding-left: 15px;
}
.twa-card .right h1, .twa-card .right h2, .twa-card .right h3, .twa-card .right h4, .twa-card .right h5 {
  margin: 0 0 7.5px 0;
}
.twa-card .right.full {
  width: calc(100% - 0px);
}
.twa-card.selected {
  border: 1px solid rgba(15, 11, 12, 0.6);
}
.twa-card.selected:hover {
  border: 1px solid rgba(15, 11, 12, 0.6);
}

.twa-form .twa-ecom-field input[type=submit]:hover, .twa-checkout-stacked-title a:hover {
  background-color: transparent;
  color: #0F0B0C;
  position: relative;
  border: 1px solid #0F0B0C;
}

.twa-form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.twa-form .twa-ecom-field {
  display: block;
  width: 100%;
}
.twa-form .twa-ecom-field.half {
  width: calc(50% - 7.5px);
}
.twa-form .twa-ecom-field .iti, .twa-form .twa-ecom-field input, .twa-form .twa-ecom-field select, .twa-form .twa-ecom-field textarea {
  width: 100%;
}
.twa-form .twa-ecom-field select {
  -webkit-appearance: none;
}
.twa-form .twa-ecom-field input, .twa-form .twa-ecom-field select, .twa-form .twa-ecom-field textarea {
  height: 40px;
  padding: 0 10px;
  border: 1px solid rgba(15, 11, 12, 0.1);
  -webkit-tap-highlight-color: transparent;
  transition: 0.15s;
}
.twa-form .twa-ecom-field input:focus, .twa-form .twa-ecom-field select:focus, .twa-form .twa-ecom-field textarea:focus {
  outline-width: 0;
  border: 1px solid #0f0b0c;
}
.twa-form .twa-ecom-field input.phone-field, .twa-form .twa-ecom-field select.phone-field, .twa-form .twa-ecom-field textarea.phone-field {
  padding-left: 50px;
}
.twa-form .twa-ecom-field textarea {
  height: auto !important;
  padding: 10px;
}
.twa-form .twa-ecom-field input[type=submit] {
  background-color: #0F0B0C;
  color: #FFF;
  height: 60px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  transition: 0.15s all;
  cursor: pointer;
}
.twa-form .twa-ecom-field select {
  background-image: url(data:image/svg+xml;charset=UTF-8;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAyNCAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwb2x5Z29uIGZpbGw9IiMwRjBCMEMiIHBvaW50cz0iMTIgMSA5IDYgMTUgNiIgLz4KICAgIDxwb2x5Z29uIGZpbGw9IiMwRjBCMEMiIHBvaW50cz0iMTIgMTMgOSA4IDE1IDgiIC8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.twa-form .twa-ecom-field .twa-ecom-label {
  display: block;
  font-weight: 700;
  padding-bottom: 5px;
}
.twa-form .twa-ecom-checkbox {
  display: block;
}
.twa-form .twa-ecom-checkbox input {
  width: 15px;
  height: 15px;
}
.twa-form .twa-ecom-checkbox .twa-ecom-field-control {
  display: inline-block;
}
.twa-checkout-notification {
  padding: 20px;
  background-color: rgba(15, 11, 12, 0.07);
  color: #D1171E;
  margin-bottom: 70px;
}

.common-loader-hide {
  animation: hideit 0.5s normal forwards ease-in-out !important;
  animation-delay: 0.3s !important;
}

.common-loader-initial {
  animation: fade-in 0.5s normal forwards ease-in-out;
  animation-delay: 0s;
}

@keyframes hideit {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    display: none !important;
    height: 100vh;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}
@-webkit-keyframes fade-in {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  99% {
    display: block;
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}
.iframe-parent {
  display: block;
  position: relative;
}
.iframe-parent iframe {
  position: relative;
  z-index: 1;
}
.iframe-parent .loader {
  position: absolute;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  transition: 0.2s all;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/assets/loader.gif");
}
.iframe-parent .loader.active {
  z-index: 2 !important;
  opacity: 1 !important;
}

/*# sourceMappingURL=packages.css.map */
